In [8]:
#[a for a in "name" we can also add(condition) and loops]

In [1]:
var=[letter for letter in "muneeb"]
print(var)

['m', 'u', 'n', 'e', 'e', 'b']

In [4]:
list_num = [1,2,3,4,5,6,7,8,9,10]
for num in list_num:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [6]:
[number for number in "12345678910"]

['1', '2', '3', '4', '5', '6', '7', '8', '9', '1', '0']

In [7]:
[number for number in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
var=[letter for letter in "muneeb"]
print(var)

['m', 'u', 'n', 'e', 'e', 'b']

In [12]:
for table in range(3,31,3):
    print(table)

3
6
9
12
15
18
21
24
27
30

In [13]:
[table for table in range(3,30,3)]

[3, 6, 9, 12, 15, 18, 21, 24, 27]

In [15]:
[table*10 for table in range(1,11)]

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [17]:
[table**2 for table in range(1,10)]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

# Nested for loop

In [18]:
[(x,y) for x in range(1,11) for y in (0,12,2)]

[(1, 0),
 (1, 12),
 (1, 2),
 (2, 0),
 (2, 12),
 (2, 2),
 (3, 0),
 (3, 12),
 (3, 2),
 (4, 0),
 (4, 12),
 (4, 2),
 (5, 0),
 (5, 12),
 (5, 2),
 (6, 0),
 (6, 12),
 (6, 2),
 (7, 0),
 (7, 12),
 (7, 2),
 (8, 0),
 (8, 12),
 (8, 2),
 (9, 0),
 (9, 12),
 (9, 2),
 (10, 0),
 (10, 12),
 (10, 2)]

# Random numbers

In [19]:
from random import*

In [21]:
#float b/w 0 and 1
print(random())

0.8668724909067609

In [29]:
randint(1,10)

10

In [ ]:
#float 0 and 1 random()
#for range in int 0 and 1 random(range)
#uniform used to get float in range we used uniform(range)
#shuffle items cannot be placed in variables

In [31]:
uniform(1,10)

4.512886461262435

In [32]:
float_value = uniform(1,10)
float_value

5.0501092183367495

In [33]:
items = [1,2,3,4,5]
shuffle(items)

In [34]:
items

[3, 2, 4, 5, 1]

In [36]:
lista=[1,2,3,4,5,10]

In [37]:
lista

[1, 2, 3, 4, 5, 10]