# NUMPY PRACTICE

In [1]:
import numpy as np 
data = np.random.randn(2,3)
data

array([[-0.32472089, -0.55159308,  1.17620698],
       [ 0.5520141 ,  1.35742546, -0.31286659]])

In [2]:
a= data*data
a#simple operations like array addition multiplication

array([[5.63628213e-02, 2.50399475e+00, 6.88845823e-01],
       [2.90273090e-02, 2.36777122e-05, 1.50898597e-01]])

In [3]:
b = data + data
b
b.shape
b.dtype

dtype('float64')

In [2]:
from numpy import*#this is another method to avoid using np

In [3]:
data = random.randn(3,3)
data.shape
data.ndim

2

In [6]:
np.empty((2,3,2))#this will give emty or garbage value

array([[[2.87e-322, 0.00e+000],
        [0.00e+000, 0.00e+000],
        [0.00e+000, 0.00e+000]],

       [[0.00e+000, 0.00e+000],
        [0.00e+000, 0.00e+000],
        [0.00e+000, 0.00e+000]]])

In [7]:
random_array = np.random.randint(0,16,(4,4))# this willgive random integers to array
random_array

array([[14, 10,  7, 10],
       [13,  5,  1,  5],
       [10,  0, 12,  9],
       [ 1, 11,  5, 13]])

In [8]:
a = np.arange(15)#This is like range fuction of array 
a

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [9]:
arr3 = np.array([1, 2, 3], dtype=np.int32)
print(type(arr3))
arr3.dtype#I asign data type for this array in my code

<class 'numpy.ndarray'>

dtype('int32')

In [10]:
arr4 = np.array([1,2,3,4,5])
print(arr4.dtype)
float_arr4 = arr4.astype(np.float64)
float_arr4.dtype#This statement convert integer type array into float this is done using astype fuction

int32

dtype('float64')

In [11]:
arr5 = np.array([1.23,212,1.23,213.12,33.22,2.33,4.33,3.55])
print(arr5.dtype)
int_arr5 = arr5.astype(int)#we can also only write data type in the fuction astype 
int_arr5.dtype#USING astype will always create a new array even if it is same with previous one

float64

dtype('int32')

In [12]:
arr6 = np.array([[0., 4., 1.], [7., 2., 12.]])
arr7 = np.array([[0.,4.,2.],[7.,2.,13.]])
arr7>arr6#Arrays can also be comapared add subtracted multiplied and dived and other mathematical operations can also be done

array([[False, False,  True],
       [False, False,  True]])

# INDEXING IN NUMPY

In [13]:
arr = np.arange(10)
a = arr[5]
print(a)
arr[5:8]#This difference between numpy array and list is that array slices are view on original array

5

array([5, 6, 7])

In [14]:
arr[5:8] = 12
arr#the value is broadcasted to entire selection

array([ 0,  1,  2,  3,  4, 12, 12, 12,  8,  9])

In [15]:
arr[5:8]

array([12, 12, 12])

In [16]:
arr[1]=12313

In [17]:
arr

array([    0, 12313,     2,     3,     4,    12,    12,    12,     8,
           9])

In [18]:
arr[:]=64#This sign will assign all values to 64

In [19]:
arr#If you want a copy of a slice of an ndarray instead of a view, youwill need to explicitly copy the arrayâ€”for example,arr[5:8].copy().

array([64, 64, 64, 64, 64, 64, 64, 64, 64, 64])

# Multi Dimension array slicing

In [20]:
arr2 = np.array([[2,3,4],[5,6,7],[8,9,10]])

In [21]:
arr2[1]

array([5, 6, 7])

In [22]:
arr2[1,0]#First number is index of large array and second number is index of small array

5

In [23]:
arr2 = np.array([[1,2,3],[4,5,6],[7,[10,11,12],9]])
arr2.dtype#This I hav eto talk about it

dtype('O')

In [24]:
arr2[2,1]#THIS works but arr2[2,1,1] is not working question is why

[10, 11, 12]

In [25]:
arr2[2][1][1] #But in this manner this work means this is more general method

11

In [26]:
arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])

In [27]:
arr3d.shape

(2, 2, 3)

In [28]:
arr3d.ndim#Dimension of array is calculated by counting its array left or righthand side square brakets

3

In [29]:
arr3d[0]

array([[1, 2, 3],
       [4, 5, 6]])

In [30]:
old_values = arr3d[0].copy()#This is coping of array in old values without changing original array

In [31]:
arr3d[0] = 42#assign whole 2x3 array as 42

In [32]:
arr3d

array([[[42, 42, 42],
        [42, 42, 42]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

In [33]:
arr3d[0] = old_values #get back the original values by using old_values as data  
arr3d

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

In [34]:
arr3d[1,0,1]#This work in this matrix but not in upper one why?

8

In [35]:
arr3d[1][0][1]#This work in both but take time to type

8

# INDEXING AND SLICING

In [72]:
arr = np.arange(10)
arr[5:8] = 12
arr

array([ 0,  1,  2,  3,  4, 12, 12, 12,  8,  9])

In [73]:
arr[1:6]#Python one dimension array can be sliced like Python list

array([ 1,  2,  3,  4, 12])

In [74]:
arr2d = np.array([[1,2,3],[4,5,6],[7,8,9]])
arr2d

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [75]:
arr2d[:2]#: means all row and 1 and 2 column

array([[1, 2, 3],
       [4, 5, 6]])

In [76]:
arr2d

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [77]:
arr2d[:2,:1]#:means 1 and 2 rows and 1  column only

array([[1],
       [4]])

In [78]:
arr2d[:,:1]

array([[1],
       [4],
       [7]])

In [79]:
arr2d[1,:]

array([4, 5, 6])

In [80]:
arr2d[:2,1:]#row 1 and 2 and column 2 and 3

array([[2, 3],
       [5, 6]])

In [81]:
arr2d[:2,1:] = 0

In [82]:
arr2d#assign values to original array

array([[1, 0, 0],
       [4, 0, 0],
       [7, 8, 9]])

In [83]:
arr2d

array([[1, 0, 0],
       [4, 0, 0],
       [7, 8, 9]])

# Boolean Indexing

In [84]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])
data = np.random.randn(7, 4)

In [85]:
names

array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'], dtype='<U4')

In [86]:
data

array([[-0.22288789, -0.52555812,  0.66290076, -1.29066839],
       [ 0.951578  , -1.93838017,  0.51251662, -0.69349724],
       [-1.0753634 , -1.78046673, -0.37793308,  1.76898757],
       [ 1.63276951, -0.6160164 , -0.64631966, -1.34020796],
       [ 1.13274967, -1.2144276 , -0.38184883, -1.71890422],
       [ 0.1074806 ,  1.7925802 , -1.84064302,  0.73847134],
       [-0.08028807, -0.6321972 ,  1.93567806,  0.0552078 ]])

In [87]:
names == 'Bob'#it is comparison in array as we done above

array([ True, False, False,  True, False, False, False])

In [88]:
names#Array doesnot change by doing  comparison

array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'], dtype='<U4')

In [89]:
data[names == 'Bob']#it is another slicing method in this boolean character true is used to give index of array not string bob

array([[-0.22288789, -0.52555812,  0.66290076, -1.29066839],
       [ 1.63276951, -0.6160164 , -0.64631966, -1.34020796]])

In [90]:
data#it doesnot changes the original data

array([[-0.22288789, -0.52555812,  0.66290076, -1.29066839],
       [ 0.951578  , -1.93838017,  0.51251662, -0.69349724],
       [-1.0753634 , -1.78046673, -0.37793308,  1.76898757],
       [ 1.63276951, -0.6160164 , -0.64631966, -1.34020796],
       [ 1.13274967, -1.2144276 , -0.38184883, -1.71890422],
       [ 0.1074806 ,  1.7925802 , -1.84064302,  0.73847134],
       [-0.08028807, -0.6321972 ,  1.93567806,  0.0552078 ]])

In [91]:
#Boolean selection will not fail if the boolean array is not the correctlength, so we recommend care when using this feature.

In [92]:
data[names == 'Joe']#This give 3 rows because joe is 3 times in the array for selecting column we use below approach

array([[ 0.951578  , -1.93838017,  0.51251662, -0.69349724],
       [ 0.1074806 ,  1.7925802 , -1.84064302,  0.73847134],
       [-0.08028807, -0.6321972 ,  1.93567806,  0.0552078 ]])

In [93]:
data[names == 'Joe' , 2]#it mean sbool is rows and int is column and we can  also select column

array([ 0.51251662, -1.84064302,  1.93567806])

In [94]:
data[names == 'Joe',1:]#MEANS every operation is same as in indexing of array as mentioned above

array([[-1.93838017,  0.51251662, -0.69349724],
       [ 1.7925802 , -1.84064302,  0.73847134],
       [-0.6321972 ,  1.93567806,  0.0552078 ]])

In [95]:
names != 'Bob'

array([False,  True,  True, False,  True,  True,  True])

In [96]:
data[names != 'Bob']

array([[ 0.951578  , -1.93838017,  0.51251662, -0.69349724],
       [-1.0753634 , -1.78046673, -0.37793308,  1.76898757],
       [ 1.13274967, -1.2144276 , -0.38184883, -1.71890422],
       [ 0.1074806 ,  1.7925802 , -1.84064302,  0.73847134],
       [-0.08028807, -0.6321972 ,  1.93567806,  0.0552078 ]])

In [97]:
data[~(names == 'Bob')]#This is same as above and both expressions have same meaning

array([[ 0.951578  , -1.93838017,  0.51251662, -0.69349724],
       [-1.0753634 , -1.78046673, -0.37793308,  1.76898757],
       [ 1.13274967, -1.2144276 , -0.38184883, -1.71890422],
       [ 0.1074806 ,  1.7925802 , -1.84064302,  0.73847134],
       [-0.08028807, -0.6321972 ,  1.93567806,  0.0552078 ]])

In [98]:
#'~' is use to invert the condition

In [99]:
mask = (names == 'Bob') | (names == 'Will')
mask#| is for or and & is for and statement
#in boolean case python donot work with "and" and "or" we have to put "&" and "|" for execution of our program

array([ True, False,  True,  True,  True, False, False])

In [100]:
data[mask]#it will print four rows because their are four true in mask array

array([[-0.22288789, -0.52555812,  0.66290076, -1.29066839],
       [-1.0753634 , -1.78046673, -0.37793308,  1.76898757],
       [ 1.63276951, -0.6160164 , -0.64631966, -1.34020796],
       [ 1.13274967, -1.2144276 , -0.38184883, -1.71890422]])

In [101]:
data[data<0] = 0#it just put zero where float value is less then the 0
data

array([[0.        , 0.        , 0.66290076, 0.        ],
       [0.951578  , 0.        , 0.51251662, 0.        ],
       [0.        , 0.        , 0.        , 1.76898757],
       [1.63276951, 0.        , 0.        , 0.        ],
       [1.13274967, 0.        , 0.        , 0.        ],
       [0.1074806 , 1.7925802 , 0.        , 0.73847134],
       [0.        , 0.        , 1.93567806, 0.0552078 ]])

In [102]:
#above thing can also be done using boolean indexing
#data[data == 'Bob'] =3# This is not responding good explain
#data#Why this is generating error in  boolean indexing?

In [103]:
data[data == 'Bob'] = 7
data

C:\Users\ammar\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  """Entry point for launching an IPython kernel.

array([[0.        , 0.        , 0.66290076, 0.        ],
       [0.951578  , 0.        , 0.51251662, 0.        ],
       [0.        , 0.        , 0.        , 1.76898757],
       [1.63276951, 0.        , 0.        , 0.        ],
       [1.13274967, 0.        , 0.        , 0.        ],
       [0.1074806 , 1.7925802 , 0.        , 0.73847134],
       [0.        , 0.        , 1.93567806, 0.0552078 ]])

# FANCY INDEXING

In [109]:
arr = np.empty((8, 4))# this is empty array and we assign some values to it using some of the loops 
arr
for i in range(8):
    arr[i] = i
arr

array([[0., 0., 0., 0.],
       [1., 1., 1., 1.],
       [2., 2., 2., 2.],
       [3., 3., 3., 3.],
       [4., 4., 4., 4.],
       [5., 5., 5., 5.],
       [6., 6., 6., 6.],
       [7., 7., 7., 7.]])

In [110]:
arr[[4,3,0,5]]#in this we past a list for indexing and each element of list is index of row of the matrix

array([[4., 4., 4., 4.],
       [3., 3., 3., 3.],
       [0., 0., 0., 0.],
       [5., 5., 5., 5.]])

In [112]:
aar = np.arange(32).reshape(8,4)
aar

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19],
       [20, 21, 22, 23],
       [24, 25, 26, 27],
       [28, 29, 30, 31]])

In [116]:
#Now its time for row and column in fancy indexing
aar[[1,2,3,4],[2,3,1,0]]#first list represent number of rows and second list represent number of columns
#fancy indexing usually gives one dimensional array but some times it becomes a little complex Why ?

array([ 6, 11, 13, 16])

In [117]:
aar[[1, 5, 7, 2]][:, [0, 3, 1, 2]]#this is special because it gives two dimensional array
#in this case first list is giving index while second list is giving map how to arrange them in sequence this is confussing explain why?

array([[ 4,  7,  5,  6],
       [20, 23, 21, 22],
       [28, 31, 29, 30],
       [ 8, 11,  9, 10]])

# Transposing Arrays and Swapping Axes

In [3]:
arr = np.arange(15).reshape(3,5)
arr

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [4]:
arr.T#this the transpose of matrix or array

array([[ 0,  5, 10],
       [ 1,  6, 11],
       [ 2,  7, 12],
       [ 3,  8, 13],
       [ 4,  9, 14]])

In [5]:
arr = np.random.randn(6, 3)
arr

array([[ 0.84974408,  0.10518926, -0.46791605],
       [-2.3367344 , -0.65645365, -0.27540959],
       [-0.10748928,  2.18891466, -1.24644644],
       [-0.79862034, -0.57655384,  0.70465722],
       [ 2.0515604 , -0.45327515, -1.04914256],
       [-0.52140675,  0.34519288, -0.57200714]])

In [7]:
np.dot(arr.T,arr)#Matrix multiplication is quit simple using numpy function np.dot(first array,second array)

array([[11.31250609,  0.73859729, -2.03695474],
       [ 0.73859729,  5.89037439, -2.72496639],
       [-2.03695474, -2.72496639,  3.77285868]])

In [8]:
arr = np.arange(16).reshape((2, 2, 4))
arr

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7]],

       [[ 8,  9, 10, 11],
        [12, 13, 14, 15]]])

In [12]:
arr.transpose((1,0,2))

array([[[ 0,  1,  2,  3],
        [ 8,  9, 10, 11]],

       [[ 4,  5,  6,  7],
        [12, 13, 14, 15]]])

In [13]:
#Here, the axes have been reordered with the second axis first, the first axis second,and the last axis unchanged

In [14]:
arr

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7]],

       [[ 8,  9, 10, 11],
        [12, 13, 14, 15]]])

In [15]:
arr.swapaxes(1,2)#this swap th axes means order them according to provided rule

array([[[ 0,  4],
        [ 1,  5],
        [ 2,  6],
        [ 3,  7]],

       [[ 8, 12],
        [ 9, 13],
        [10, 14],
        [11, 15]]])

In [16]:
arr#EXPLAIN ABOVE PART

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7]],

       [[ 8,  9, 10, 11],
        [12, 13, 14, 15]]])