In [1]:
import pandas as pd
import numpy as np

samosa = pd.Series([10,20,30,40,50], index = ["mon","tue","wed","thurs","fri"])
print(samosa)

mon      10
tue      20
wed      30
thurs    40
fri      50
dtype: int64

In [2]:
print(samosa["tue"])
print(samosa.values)
print(samosa.index)

20
[10 20 30 40 50]
Index(['mon', 'tue', 'wed', 'thurs', 'fri'], dtype='object')

In [3]:
print(samosa*2)

mon       20
tue       40
wed       60
thurs     80
fri      100
dtype: int64

In [4]:
import pandas as pd
a = pd.Series([1,2,3,4,5,6,7],index = ["mon","tues","wed","thrs","fri","sat","sun"])
a = a*2
print(a)
print(a[["wed","fri"]])
print(a["fri"])

mon      2
tues     4
wed      6
thrs     8
fri     10
sat     12
sun     14
dtype: int64
wed     6
fri    10
dtype: int64
10

In [5]:

sdata = {"sindh":3500,"Punjab":4550,"Balochistan":3200,"kpk":2000}
tax_by_state = pd.Series(sdata,index = ["sindh","Punjab","Balochistan","kpk","GB"])
print(tax_by_state)
print()
print(pd.isnull(tax_by_state))
print()
tax_by_state["GB"]= 15000
print(tax_by_state)

sindh          3500.0
Punjab         4550.0
Balochistan    3200.0
kpk            2000.0
GB                NaN
dtype: float64

sindh          False
Punjab         False
Balochistan    False
kpk            False
GB              True
dtype: bool

sindh           3500.0
Punjab          4550.0
Balochistan     3200.0
kpk             2000.0
GB             15000.0
dtype: float64

In [1]:
import pandas as pd
apples =  pd.Series([31,2,3,4],index = ['a','b','c','d'])
oranges = pd.Series([3,4,5,6] , index = ['aas','as','dw','wq'])
oranges.index = apples.index
data ={"apples":apples,"oranges":oranges}
fruits_df = pd.DataFrame(data)
print(fruits_df)
print()
print(oranges.index)

   apples  oranges
a      31        3
b       2        4
c       3        5
d       4        6

Index(['a', 'b', 'c', 'd'], dtype='object')

In [2]:
import pandas as pd
apples =  pd.Series([31,2,3,4])
oranges = pd.Series([3,4,5,6])
lst = [1,23,45,65]
data = {"apples":apples,"oranges":oranges,"banana":lst}
#print(data,"\n")
fruits_df = pd.DataFrame(data)
print(fruits_df)

   apples  oranges  banana
0      31        3       1
1       2        4      23
2       3        5      45
3       4        6      65

In [3]:
data = {
        'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]
       } 
frame = pd.DataFrame(data)
frame

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

In [4]:
frame2 = pd.DataFrame(
                      data, 
                      columns=['year', 'state', 'pop', 'debt'], 
                      index=['one', 'two', 'three', 'four','five', 'six']
                     )
frame2

       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN
six    2003  Nevada  3.2  NaN

In [6]:
import numpy as np
ln = len(frame2)
print(ln)
rng = np.arange(ln)
print(rng)
frame2['debt'] = rng
print(frame2)

6
[0 1 2 3 4 5]
       year   state  pop  debt
one    2000    Ohio  1.5     0
two    2001    Ohio  1.7     1
three  2002    Ohio  3.6     2
four   2001  Nevada  2.4     3
five   2002  Nevada  2.9     4
six    2003  Nevada  3.2     5

In [11]:
frame2.head(2)

     year state  pop  debt
one  2000  Ohio  1.5     0
two  2001  Ohio  1.7     1

In [12]:
val = pd.Series([-1.2,1.5,-1.7,2.6,3.6,4.6], index = ['two', 'four', 'five', 'six', 'seven', 'eight'])
frame2['dept'] = val.values
frame2
#lst = np.array(val.values)

       year   state  pop  debt  dept
one    2000    Ohio  1.5     0  -1.2
two    2001    Ohio  1.7     1   1.5
three  2002    Ohio  3.6     2  -1.7
four   2001  Nevada  2.4     3   2.6
five   2002  Nevada  2.9     4   3.6
six    2003  Nevada  3.2     5   4.6

In [13]:
frame2['dept'][0]

-1.2

In [14]:
obj3 = pd.Series(['blue', 'purple', 'yellow'], index = [0,3,6])
print(obj3)
print()
obj3 = obj3.reindex(range(9))#0-8 but we have only 0,3,6 index values so other index shows NAN
obj3

0      blue
3    purple
6    yellow
dtype: object

0      blue
1       NaN
2       NaN
3    purple
4       NaN
5       NaN
6    yellow
7       NaN
8       NaN
dtype: object

In [15]:
#To get rid from NAN we used ffill which put previos value in NAN
obj2 = pd.Series(['blue', 'purple', 'yellow'], index = [0,3,6])
print(obj2)
print()
obj2 = obj2.reindex(range(9), method='ffill')#0-8 but we have only 0,3,6 index values so other index shows NAN
obj2

0      blue
3    purple
6    yellow
dtype: object

0      blue
1      blue
2      blue
3    purple
4    purple
5    purple
6    yellow
7    yellow
8    yellow
dtype: object

In [16]:
states = pd.DataFrame(np.arange(9).reshape((3,3)), index=['a','c','d'], columns=['Ohio', 'Texas', 'California'])
print(states)
print()
states1 = states.reindex(['a', 'b', 'c', 'd'])
print(states1)
print()
states2 = states.reindex(['a', 'b', 'c', 'd'], method='ffill')#use for rows
print(states2)

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8

   Ohio  Texas  California
a   0.0    1.0         2.0
b   NaN    NaN         NaN
c   3.0    4.0         5.0
d   6.0    7.0         8.0

   Ohio  Texas  California
a     0      1           2
b     0      1           2
c     3      4           5
d     6      7           8

In [17]:
states_name = ['Texas', 'Ohio', 'Utha', 'California']
states3 = states.reindex(columns = states_name)
print(states3)

   Texas  Ohio  Utha  California
a      1     0   NaN           2
c      4     3   NaN           5
d      7     6   NaN           8

In [18]:
states_name = ['Texas', 'Ohio', 'Utha', 'California']
states4 = states.reindex(columns = states_name).ffill(axis=1)#use for column
print(states4)

   Texas  Ohio  Utha  California
a    1.0   0.0   0.0         2.0
c    4.0   3.0   3.0         5.0
d    7.0   6.0   6.0         8.0

In [19]:
#To remove columns from dataframe we use data_df.drop('column_name', axis=1)
#FIRST METHOD->Store in same variable
#data_df = data_df.drop("column_name", axis = 1)
#SECOND METHODS->with inplace = true we donot need to store in some variable
#data_df.drop("column_name", axis = 1, inplace = True)

In [20]:
data_df = pd.DataFrame(np.arange(9).reshape((3,3)), index=['a','c','d'], columns=['Ohio', 'Texas', 'California'])
data_df

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8

In [21]:
data_df = data_df.drop("Texas", axis=1)
print(data_df)

   Ohio  California
a     0           2
c     3           5
d     6           8

In [22]:
data_df = pd.DataFrame(np.arange(9).reshape((3,3)), index=['a','c','d'], columns=['Ohio', 'Texas', 'California'])
data_df

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8

In [23]:
print(data_df[data_df['Texas']<5])

   Ohio  Texas  California
a     0      1           2
c     3      4           5

In [24]:
#in the loc method specify row label and then specify column names.
#we can only identify row or only column or both
#loc->works on variables
#iloc->works on numbers(indexes)
import numpy as np
data_df = pd.DataFrame(np.arange(16).reshape((4,4)), 
                       index =['Ohio', 'Colorado', 'Utah', 'Newyork'], 
                       columns = ['one', 'two','three','four']
                      )
print(data_df)
print()
print(data_df.loc['Colorado', ['two', 'three']])#first row then, column
print()
print(data_df.loc[:, ('two', 'three')])#all rows(:)
print()
print(data_df.iloc[3, [3,0,1]])#for indexes using iloc, first row no and columns no
print()

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
Newyork    12   13     14    15

two      5
three    6
Name: Colorado, dtype: int32

          two  three
Ohio        1      2
Colorado    5      6
Utah        9     10
Newyork    13     14

four    15
one     12
two     13
Name: Newyork, dtype: int32

In [25]:
data_df1 = pd.DataFrame(np.arange(9).reshape((3,3)), 
                       index =['Ohio', 'Colorado', 'Utah'], 
                       columns = list("bcd")
                      )
print(data_df1)

          b  c  d
Ohio      0  1  2
Colorado  3  4  5
Utah      6  7  8

In [26]:
data_df2 = pd.DataFrame(np.arange(12).reshape((4,3)), 
                       index =['Ohio', 'Colorado', 'Utah', 'New york'], 
                       columns = list("bde")
                      )
print(data_df2)

          b   d   e
Ohio      0   1   2
Colorado  3   4   5
Utah      6   7   8
New york  9  10  11

In [27]:
df3 = data_df1 + data_df2
print(df3)#index same value should be add means data_df1(Colorado=3) and data_df2(Colorado=3) so resultant data_df1(Colorado=6.0)

             b   c     d   e
Colorado   6.0 NaN   9.0 NaN
New york   NaN NaN   NaN NaN
Ohio       0.0 NaN   3.0 NaN
Utah      12.0 NaN  15.0 NaN

In [28]:
import pandas as pd

dta = {'city':['karachi', 'lahore', 'islamabad', 'multan'],
       'country':['pakistan','india','bangladesh', 'srilanka'],
       'year':['1947', '1947', '1972', '1950']
    
      }

df4 = pd.DataFrame( dta , index = ['1','2','3','4'])
df4

        city     country  year
1    karachi    pakistan  1947
2     lahore       india  1947
3  islamabad  bangladesh  1972
4     multan    srilanka  1950

In [29]:
import pandas as pd

dta = {'city':['karachi', 'dehli', 'dhaka', 'columbo'],
       'country':['pakistan','india','bangladesh', 'srilanka'],
       'year':['1947', '1947', '1972', '1950']
    
      }

df4 = pd.DataFrame(dta , index = ['west','east','south','north east'], columns = ['city', 'country', 'year'] )
#df4
print(df4)
print()
print(df4.loc['west' , ['city', 'country']])
print()
#print(df4.loc['west' , ('city', 'country')])
print(df4.loc[:, ('city', 'country')])

               city     country  year
west        karachi    pakistan  1947
east          dehli       india  1947
south         dhaka  bangladesh  1972
north east  columbo    srilanka  1950

city        karachi
country    pakistan
Name: west, dtype: object

               city     country
west        karachi    pakistan
east          dehli       india
south         dhaka  bangladesh
north east  columbo    srilanka

In [30]:
import os
#dir (os.path)
help(os.path.splitext)

Help on function splitext in module ntpath:

splitext(p)
    Split the extension from a pathname.

    Extension is everything from the last dot to the end, ignoring
    leading dots.  Returns "(root, ext)"; ext may be empty.

In [31]:
def min_max(x):
    minimum = x.min()
    maximum = x.max()
    series1 = pd.Series([x.min(), x.max()], index = ['min', 'max'])
    return series1

df5 = df4.apply(min_max)

## Function Apllication And Mapping

In [35]:
frame = pd.DataFrame(np.random.randn(4, 3), 
                     columns = list('bde'),
                     index = ['Utah', "Ohio", "texas", "Oregon"]
                    )
                     
print(frame)
print()
f = lambda x: x.max() - x.min()

df = frame.apply(f)#.apply is used for function mapping means it apply another function f on frame
print(df , type(df))
print()
df1 = frame.apply(f, axis = 1)
print(df1)
print()
def min_max(curr_column):#function to give max and mini value of each coulmn
    minimum = curr_column.min()
    maximum = curr_column.max()
    series1 = pd.Series([curr_column.min(), curr_column.max()], index = ['min', 'max'])#gives min and max value of each column
    return series1

df2 = frame.apply(min_max)
print(df2)

               b         d         e
Utah   -0.753558  1.181418 -0.418095
Ohio    0.612625 -0.774218 -0.651823
texas   0.617185  0.803500 -0.191188
Oregon  2.123730 -0.273323 -0.240518

b    2.877287
d    1.955635
e    0.460635
dtype: float64 <class 'pandas.core.series.Series'>

Utah      1.934975
Ohio      1.386843
texas     0.994688
Oregon    2.397053
dtype: float64

            b         d         e
min -0.753558 -0.774218 -0.651823
max  2.123730  1.181418 -0.191188

In [33]:
df_c = pd.read_csv("New folder\examples\sample.csv")
print(df_c)
print()
df_s = pd.read_csv("New folder\examples\sample.csv", skiprows = [0,2])#skipping rows
print(df_s)

  studentid         name   chimestry   physics   english   math
0       A01     arif ali          20        30        40     50
1       A02  kamran khan          30        40        50     60
2       A03   imran ali           40        50        60     70
3       A04  kashif khan          50        60        70     80

   A01     arif ali   20   30   40   50
0  A03   imran ali    40   50   60   70
1  A04  kashif khan   50   60   70   80

In [34]:
df_s = pd.read_csv("New folder\examples\sample.csv", index_col=['key1'])
print(df_s)

ValueError: Index key1 invalid

In [ ]:
df_c = pd.read_csv("New folder\examples\sample.csv", nrows = 2 )#nrows-> gives specific no.of rows
print(df_c)

In [ ]:
#to read a file in pieces, specific a chunksize as a number of rows:
chunks = pd.read_csv("New folder\examples\sample.csv", chunksize = 2 )
print(type(chunks), print(chunks))

chunklist = []
for chunk in chunks:
    #each chunk will work as a dataframe
    #print(type(chunks), len(chunks))
    #print(chunk.head())
    chunklist.append(chunk)
df = chunklist[1]
df.head()

## INTERACTING WITH WEB APIS

In [ ]:
import requests
import numpy as np
url = "https://api.github.com/repos/pandas-dev/pandas/issues"#web address
resp = requests.get(url)
print(resp)
data = resp.json
print(type(data))
print(data)

In [ ]:
data_dict = data[0]
print(data_dict['title'])
issues = pd.DataFrame(data)
print(issues.head())
issues = pd.DataFrame(data, columns = ['number', 'title', 'labels', 'state'])
print(issues.head())

In [ ]:
conda install -c anaconda sqlite

import sqlie3

query = """CREATE TABLE test(a VARCHAR(20),
        b VARCHAR(20), c REAL,
        d INTEGER)"""
# creating database file
con = sqlite3.connect('mydata.sqlite')#sqlserver.connect
#running query 
con.execute(query)
#table created
con.commit()#permenantly saved

In [ ]:
#filling of data
from numpy import nan as NA
df = pd.DataFrame(np.random.randn(7, 3))
#print(df)
df.iloc[:4, 1] = NA
df.iloc[:2, 2] = NA
print(df)
#Calling fillna with a dict, you can use a different fill value for
#df.fillna(1.5)

#column number 1 will be filled with 0.5
#column number 2 will be filled with 0
df.fillna({1: 0.5, 2:0})

#fill not values from left colimn (axis = 0 means from top row)
df.fillna(method= 'ffill', axis = 1)
df.fillna(method= 'ffill', limit=1, axis=1)

In [ ]:
data = pd.DataFrame(np.random.randn(1000, 4))#1000 rows,4 columns

data.describe()

In [ ]:
#help(pd.DataFrame.describe)

In [ ]:
col = data[2]
col

In [ ]:
#np.random(3)
#np.random.permutation(#index)#shuffle values of specific position

## VECTORIZED STRING IN PANDAS

In [ ]:
import re
import pandas as pd
import numpy as np
data = {'Dave': 'dave@google.com', 'Steve': 'steve@gmail.com',
'Rob': 'rob@gmail.com', 'Wes': np.nan}
data = ["simpleEmail@email.com",   "simple.email@email.com",  
        "plus+symbol@email.com",   "dash-symbol@email.com",  
     "q@email.com",   
    "“unusual”@email.com",   "dash-symbol@email-dash.com",   "test@emailServer",  
  "” “@email.com",   "user@[IPv6:2001:DB8::1]",   
  "example@localhost",   "example@s.solutions",   
  "12345@email.com"]   

data = pd.Series(data)
pattern = '([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\\.([A-Z]{2,4})'
#data.str.findall(pattern, flags=re.IGNORECASE)
matches = data[data.str.match(pattern, flags=re.IGNORECASE)]
matches

In [36]:
#take string input from user width (2-8). The characters in string should be 0 and 1. if one and zero then reject it
#Decimal can only one decimal place is allowed or is not allowed. if all these truw then it is valid

In [12]:
st = str(input("Input a string: "))
if len(st)>=2 and len(st)<=8:
    try:
        if str(0) not in st or str(1) not in st:
        print("bye") 
        elif str(0) in st and str(1):
        print("hi")
    except:
        
        for i in st:
            if i >(1) and i <int(0):
                print("invalid")

else:
    print("bhaago")

Input a string: 00001230
hi

## HIERARICHAL INDEXING

In [17]:
#It is used to import data of multiple dimension into single series using hierarichal indexing
import numpy as np
import pandas as pd
data = pd.Series(np.random.randn(9),                  
                  index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],[1, 2, 3, 1, 3, 1, 2, 2, 3]])
data

a  1   -1.015253
   2   -1.087599
   3   -0.875793
b  1    0.732635
   3    1.233494
c  1    1.454109
   2    1.153642
d  2   -0.605853
   3   -0.111146
dtype: float64

In [31]:
frame = pd.DataFrame(np.arange(12).reshape((4, 3)),
                     index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                     columns=[['Ohio', 'Ohio', 'Colorado'], ['Green', 'Red', 'Green']])
display(frame)

     Ohio     Colorado
    Green Red    Green
a 1     0   1        2
  2     3   4        5
b 1     6   7        8
  2     9  10       11

In [32]:
frame.index.names = ['key1', 'key2']
display(frame)

           Ohio     Colorado
          Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

In [33]:
frame.columns.names = ['state', 'color']
display(frame)

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

In [34]:
frame.swaplevel('key1', 'key2')

state      Ohio     Colorado
color     Green Red    Green
key2 key1
1    a        0   1        2
2    a        3   4        5
1    b        6   7        8
2    b        9  10       11

In [35]:
frame.sort_index(level=1)

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
b    1        6   7        8
a    2        3   4        5
b    2        9  10       11

In [72]:
frame.sum(level='key2')

state  Ohio     Colorado
color Green Red    Green
key2
1         6   8       10
2        12  14       16

In [36]:
frame.swaplevel(0, 1).sort_index(level=0)

state      Ohio     Colorado
color     Green Red    Green
key2 key1
1    a        0   1        2
     b        6   7        8
2    a        3   4        5
     b        9  10       11

In [58]:
data1 = pd.Series(np.random.randn(10),                  
                  index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd','a'],[1, 2, 3, 1, 3, 1, 2, 2, 3,1]])
print(data1)

a  1    1.087465
   2    1.140792
   3    1.052218
b  1   -1.121867
   3   -1.054399
c  1   -0.036814
   2    2.572114
d  2   -0.285174
   3   -2.111914
a  1   -0.232465
dtype: float64

In [64]:
 data1['b']

1   -1.121867
3   -1.054399
dtype: float64

In [63]:
 data1['b':'c']

UnsortedIndexError: 'Key length (1) was greater than MultiIndex lexsort depth (0)'

In [73]:
data1 = data1.sort_index(level=0)
data1

a  1    1.087465
   1   -0.232465
   2    1.140792
   3    1.052218
b  1   -1.121867
   3   -1.054399
c  1   -0.036814
   2    2.572114
d  2   -0.285174
   3   -2.111914
dtype: float64

In [74]:
 data1['b':'c']

b  1   -1.121867
   3   -1.054399
c  1   -0.036814
   2    2.572114
dtype: float64

In [75]:
import pandas as pd
assignments_df = pd.read_csv("")
assignments_df = assignments_df.set_index(['Campus', 'Roll No'])
#display(assignments_df.head())
assignments_df = assignments_df.sort_index(level=0)
display(assigments_df)
assignments_df.loc["Saylani HQ"].count()

FileNotFoundError: [Errno 2] File b'' does not exist: b''

In [80]:
df1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                     'data1': range(7)})
display(df1)
df2 = pd.DataFrame({'key': ['a', 'b', 'd'], 
                    'data2': range(3)})
display(df2)

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   a      5
6   b      6

  key  data2
0   a      0
1   b      1
2   d      2

In [79]:
 pd.merge(df1, df2)

  key  data1  data2
0   b      0      1
1   b      1      1
2   b      6      1
3   a      2      0
4   a      4      0
5   a      5      0

In [82]:
help(pd.merge)

Help on function merge in module pandas.core.reshape.merge:

merge(left, right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=True, indicator=False, validate=None)
    Merge DataFrame or named Series objects with a database-style join.

    The join is done on columns or indexes. If joining columns on
    columns, the DataFrame indexes *will be ignored*. Otherwise if joining indexes
    on indexes or indexes on a column or columns, the index will be passed on.

    Parameters
    ----------
    left : DataFrame
    right : DataFrame or named Series
        Object to merge with.
    how : {'left', 'right', 'outer', 'inner'}, default 'inner'
        Type of merge to be performed.

        * left: use only keys from left frame, similar to a SQL left outer join;
          preserve key order.
        * right: use only keys from right frame, similar to a SQL right outer join;
          preserve key order.
        * outer: use union of keys from both frames, similar to a SQL full outer
          join; sort keys lexicographically.
        * inner: use intersection of keys from both frames, similar to a SQL inner
          join; preserve the order of the left keys.
    on : label or list
        Column or index level names to join on. These must be found in both
        DataFrames. If `on` is None and not merging on indexes then this defaults
        to the intersection of the columns in both DataFrames.
    left_on : label or list, or array-like
        Column or index level names to join on in the left DataFrame. Can also
        be an array or list of arrays of the length of the left DataFrame.
        These arrays are treated as if they are columns.
    right_on : label or list, or array-like
        Column or index level names to join on in the right DataFrame. Can also
        be an array or list of arrays of the length of the right DataFrame.
        These arrays are treated as if they are columns.
    left_index : bool, default False
        Use the index from the left DataFrame as the join key(s). If it is a
        MultiIndex, the number of keys in the other DataFrame (either the index
        or a number of columns) must match the number of levels.
    right_index : bool, default False
        Use the index from the right DataFrame as the join key. Same caveats as
        left_index.
    sort : bool, default False
        Sort the join keys lexicographically in the result DataFrame. If False,
        the order of the join keys depends on the join type (how keyword).
    suffixes : tuple of (str, str), default ('_x', '_y')
        Suffix to apply to overlapping column names in the left and right
        side, respectively. To raise an exception on overlapping columns use
        (False, False).
    copy : bool, default True
        If False, avoid copy if possible.
    indicator : bool or str, default False
        If True, adds a column to output DataFrame called "_merge" with
        information on the source of each row.
        If string, column with information on source of each row will be added to
        output DataFrame, and column will be named value of string.
        Information column is Categorical-type and takes on a value of "left_only"
        for observations whose merge key only appears in 'left' DataFrame,
        "right_only" for observations whose merge key only appears in 'right'
        DataFrame, and "both" if the observation's merge key is found in both.

    validate : str, optional
        If specified, checks if merge is of specified type.

        * "one_to_one" or "1:1": check if merge keys are unique in both
          left and right datasets.
        * "one_to_many" or "1:m": check if merge keys are unique in left
          dataset.
        * "many_to_one" or "m:1": check if merge keys are unique in right
          dataset.
        * "many_to_many" or "m:m": allowed, but does not result in checks.

        .. versionadded:: 0.21.0

    Returns
    -------
    DataFrame
        A DataFrame of the two merged objects.

    See Also
    --------
    merge_ordered : Merge with optional filling/interpolation.
    merge_asof : Merge on nearest keys.
    DataFrame.join : Similar method using indices.

    Notes
    -----
    Support for specifying index levels as the `on`, `left_on`, and
    `right_on` parameters was added in version 0.23.0
    Support for merging named Series objects was added in version 0.24.0

    Examples
    --------

    >>> df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],
    ...                     'value': [1, 2, 3, 5]})
    >>> df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],
    ...                     'value': [5, 6, 7, 8]})
    >>> df1
        lkey value
    0   foo      1
    1   bar      2
    2   baz      3
    3   foo      5
    >>> df2
        rkey value
    0   foo      5
    1   bar      6
    2   baz      7
    3   foo      8

    Merge df1 and df2 on the lkey and rkey columns. The value columns have
    the default suffixes, _x and _y, appended.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey')
      lkey  value_x rkey  value_y
    0  foo        1  foo        5
    1  foo        1  foo        8
    2  foo        5  foo        5
    3  foo        5  foo        8
    4  bar        2  bar        6
    5  baz        3  baz        7

    Merge DataFrames df1 and df2 with specified left and right suffixes
    appended to any overlapping columns.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey',
    ...           suffixes=('_left', '_right'))
      lkey  value_left rkey  value_right
    0  foo           1  foo            5
    1  foo           1  foo            8
    2  foo           5  foo            5
    3  foo           5  foo            8
    4  bar           2  bar            6
    5  baz           3  baz            7

    Merge DataFrames df1 and df2, but raise an exception if the DataFrames have
    any overlapping columns.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey', suffixes=(False, False))
    Traceback (most recent call last):
    ...
    ValueError: columns overlap but no suffix specified:
        Index(['value'], dtype='object')