In [3]:
a=[22,33,44,11,77,88,99]
#one section
a[1]

33

In [4]:
a[]#this has three sectionsa[1:2:3]

SyntaxError: invalid syntax (<ipython-input-4-d4435380b212>, line 1)

In [5]:
#two sections
a[1:4]

[33, 44, 11]

In [6]:
a[4:]#till end

[77, 88, 99]

In [7]:
a[:5]#till 5

[22, 33, 44, 11, 77]

In [8]:
#third section
a[2:7:1]#jump 1 by 1(last section used for jumping(step))

[44, 11, 77, 88, 99]

In [9]:
a[2:7:2]#jump 2 by 2

[44, 77, 99]

## Tuples

In [10]:
#tuples are immutable means we cannot add or delete values but values can be changes
t=("asad","saad",123)#packing
t

('asad', 'saad', 123)

In [11]:
type(t)

tuple

In [12]:
#for unpacking
#we have stored three values in packing so
a,b,c=t#unpacking

In [13]:
a

'asad'

In [14]:
b

'saad'

In [15]:
c

123

In [16]:
a="rehan"#changing value in tupple

In [17]:
a

'rehan'

('asad', 'saad', 123)

In [22]:
#adding tuples
s=t+t

In [23]:
s

('asad', 'saad', 123, 'asad', 'saad', 123)

In [24]:
#adding tuples with range
q=t+s[1:4]

In [25]:
q

('asad', 'saad', 123, 'saad', 123, 'asad')

# LOOPING
for loop and while loop

In [26]:
students=["ali","shehzad","hamza"]

In [27]:
print(students)#in the form of list

['ali', 'shehzad', 'hamza']

In [28]:
#if we dont want to get output in list form then used for loop
for student in students:
    print(student)

ali
shehzad
hamza

In [31]:
for a in range(10):
    print(a)

0
1
2
3
4
5
6
7
8
9

In [35]:
for a in range(10):
    print(a,end=" ")

0 1 2 3 4 5 6 7 8 9

In [36]:
for a in range(0,10,2):#print numbers with jumping of 2 or 3rd parameter is call step value
    print(a,end=" ")

0 2 4 6 8

In [44]:
#reverse range
for a in range(10,0,-1):#-ve for reverse
    print(a,end=" ")

10 9 8 7 6 5 4 3 2 1

In [47]:
table=int(input("Enter number to get table"))
for a in range(table,100,table):
              print(a)

Enter number to get table2
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [49]:
#second method of table:
table=int(input("Enter table number"))
for num in range(1,11):
    print(f"{table}*{num}={table*num}")

Enter table number5
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

In [50]:
#break condition 
#second method of table:
table=int(input("Enter table number"))
for num in range(1,11):
    if num==6:
        break
    print(f"{table}*{num}={table*num}")

Enter table number3
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15

In [ ]:
#second method of table:
table=int(input("Enter table number"))
for num in range(1,11):
    print(f"{table}*{num}={table*num}")

In [1]:
#continue
#used to skip certain value and continue its work
#second method of table:
table=int(input("Enter table number"))
a=int(input("Enter table range")
for num in range(1,a):
    print(f"{table}*{num}={table*num}")

SyntaxError: invalid syntax (<ipython-input-1-acc76f634dde>, line 6)

In [4]:
table=int(input("Enter table number"))
a=int(input("Enter table range"))
for num in range(1,a+1):
    print(f"{table}*{num}={table*num}")

Enter table number5
Enter table range10
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

first_names=["a"","c"]
last_names=["1","2","3","4"]
full_names=[]
for a_first_name in first_names:

In [7]:
first_names=["a","b","c"]
last_names=["1","2","3","4"]
full_names=[]
for a_first_name in first_names:
    for a_last_name in last_names:
        full_names.append(a_first_name +" "+a_last_name)
full_names

['a 1',
 'a 2',
 'a 3',
 'a 4',
 'b 1',
 'b 2',
 'b 3',
 'b 4',
 'c 1',
 'c 2',
 'c 3',
 'c 4']

In [1]:
table_numbers=int(input("Enter table range"))
for table_number in range(2,table_numbers+1):
    for num in range(1,11):
        print(f"{table_number}*{num}={table_number*num}")

Enter table range4
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40